---
layout: default
---
<header>
    <div class="col-md-7 p-lg-5 mx-auto text-center">
        <div class="brand"><img title="homepage" alt="enact logo" src="{{ site.baseurl}}/images/enact-big.png" height="64"></div>
        <h3 class="lead">ENACT is funded by the NIHR to investigate clinical audit and feedback. We are working with audits to make feedback from reports more useful to clinicians and managers. <br /><strong>Thank-you for agreeing to take part.</strong></h3>
        <!--<p class="lead font-weight-normal"></p>-->
    </div>
</header>
<main>
    <div class="steps">
        <div class="container">
            <div class="relative bt bw2 b--gray1 pb3">
                <h2 class="mv0 fw6 f6 absolute center-h lh1 top--1 ph4 bg-gray0 tc nowrap ">Overview</h2>
            </div>
            <p class="col-md-8 mx-auto text-center pb3">It will take about <strong>15 minutes</strong> to complete. </p>
            <div class="col-md-12 col-sm-12 mx-auto text-left">
                <div class="row">
                    <div class="col-lg-3 flex flex-nowrap">
                        <div>
                            <span class="fa-layers fa-fw primary4 f5 fw6 mt1 mr2 ml1">
                            <svg aria-hidden="true" data-prefix="fal" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-circle fa-w-16" style="transform-origin: 0.5em 0.4375em 0px;"><g transform="translate(256 256)" class=""><g transform="translate(0, -32)  scale(1.375, 1.375)  rotate(0 0 0)" class=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm216 248c0 118.7-96.1 216-216 216-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216z" transform="translate(-256 -256)" class=""></path></g></g></svg> <span class="fa-layers-text">1&#8202;</span></span>
                        </div> 
                        <div>
                            <h3 class="mt0 mb1 f4 fw6">Consent</h3> 
                            <img class="col-md-12" src="{{ site.baseurl }}/images/step-3.png" alt="">
                            <p class="mv0 lh-copy">You will be asked to confirm that you are happy to proceed</p>
                        </div>
                    </div><!-- /.col end -->
                    <div class="col-lg-3 flex flex-nowrap">
                        <div>
                            <span class="fa-layers fa-fw primary4 f5 fw6 mt1 mr2 ml1">
                            <svg aria-hidden="true" data-prefix="fal" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-circle fa-w-16" style="transform-origin: 0.5em 0.4375em 0px;"><g transform="translate(256 256)" class=""><g transform="translate(0, -32)  scale(1.375, 1.375)  rotate(0 0 0)" class=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm216 248c0 118.7-96.1 216-216 216-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216z" transform="translate(-256 -256)" class=""></path></g></g></svg> <span class="fa-layers-text">2&#8202;</span></span>
                        </div> 
                        <div>
                            <h3 class="mt0 mb1 f4 fw6">Choose audit</h3> 
                            <img class="col-md-12" src="{{ site.baseurl }}/images/step-1.png" alt="">
                            <p class="mv0 lh-copy">You will tell us your audit and job role</p>
                        </div>
                    </div><!-- /.col end -->
                    <div class="col-lg-3 flex flex-nowrap">
                        <div>
                            <span class="fa-layers fa-fw primary4 f5 fw6 mt1 mr2 ml1">
                            <svg aria-hidden="true" data-prefix="fal" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-circle fa-w-16" style="transform-origin: 0.5em 0.4375em 0px;"><g transform="translate(256 256)" class=""><g transform="translate(0, -32)  scale(1.375, 1.375)  rotate(0 0 0)" class=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm216 248c0 118.7-96.1 216-216 216-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216z" transform="translate(-256 -256)" class=""></path></g></g></svg> <span class="fa-layers-text">3&#8202;</span></span>
                        </div> 
                        <div>
                            <h3 class="mt0 mb1 f4 fw6">Review report</h3> 
                            <img class="col-md-12" src="{{ site.baseurl }}/images/step-2.png" alt="">
                            <p class="mv0 lh-copy">We will show you a single page containing elements of feedback from a report</p>
                        </div>
                    </div><!-- /.col end -->
                    <div class="col-lg-3 flex flex-nowrap">
                        <div>
                            <span class="fa-layers fa-fw primary4 f5 fw6 mt1 mr2 ml1">
                            <svg aria-hidden="true" data-prefix="fal" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-circle fa-w-16" style="transform-origin: 0.5em 0.4375em 0px;"><g transform="translate(256 256)" class=""><g transform="translate(0, -32)  scale(1.375, 1.375)  rotate(0 0 0)" class=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm216 248c0 118.7-96.1 216-216 216-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216z" transform="translate(-256 -256)" class=""></path></g></g></svg> <span class="fa-layers-text">4&#8202;</span></span>
                        </div> 
                        <div>
                            <h3 class="mt0 mb1 f4 fw6">Complete survey</h3> 
                            <img class="col-md-12" src="{{ site.baseurl }}/images/step-3.png" alt="">
                            <p class="mv0 lh-copy">Finally, complete a short 8 question survey about your experience </p>
                        </div>
                    </div><!-- /.col end -->
                </div>
                <div class="col-md-12 text-center">
                    <a id="" href="{{ site.baseurl }}/consent" class="col-md-6 mt-5 btn btn-success btn-lg">Get started »</a>
                </div>
            </div>
        </div>
    </div>

</main>
<footer class="footer">
    {% include footer-logos.html %}
    <div class="container">
        {% include footer-approval.html %}
    </div>
</footer>


