<div class="container">
    <div class="row">
        <div class="col-md-12 p-lg-5 mx-auto text-center audit-logos">
            <div class="relative bt bw2 b--gray1 pb3"><h4 class="mv0 fw6 absolute center-h lh1 top--1 ph4 bg-white0 tc nowrap ">Thanks to the following audits for participating</h4></div>
            <img src="{{ site.baseurl }}/images/logo-audit.png" alt="" width="600px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-lg-5 mx-auto text-center audit-logos">
            <div class="relative bt bw2 b--gray1 pb3"><h4 class="mv0 fw6 absolute center-h lh1 top--1 ph4 bg-white0 tc nowrap ">Project collaborators and funding</h4></div>
            <img src="{{ site.baseurl }}/images/logo-project.png" alt="" width="600px">
        </div>
    </div>
</div>

